body {
    background-color: #4c4c4c;
}

h2 {
    color: #ffffff;
    font-size: 80px;
}

p, li {
    color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

section.image {
    height: 500px;
}

section.text {
    background-color: #4c4c4c;
}

section.text .container {
    max-width: 80%;
    padding: 20px;
    position: relative;
    margin: 0 auto;
}

section.text .icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
}

section.text.left .icon {
    right: 0;
    left: 50%;
}

section.text .content {
    margin-left: 20%;
}

section.text.left .content {
    margin-left: 0;
    margin-right: 20%;
}

section.text h2 {
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    section.text .content {
        margin-left: 0;
    }

    section.text.left .content {
        margin-left: 0;
        margin-right: 0;
    }

    section.text h2 {
        font-size: 40px;
    }

}