.content h1, a {
    display: block;
    text-align: center;
    padding: 40px 15% 0 15%;

}

.cats h1 {
    display: block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 0 15% 0 15%;
}

ul.cat-facts {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0 0 0;
}

ul.cat-facts li {
    display: block;
    text-align: center;
    padding: 40px 15% 10px 15%;
    text-decoration: none;
    /*font-family: 'Amatic SC', cursive;*/
    transition: transform .2s;
}

@media screen and (min-width: 900px) {
    ul.cat-facts li:hover {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 900px) {
    div.content h1, a {
        padding: 40px 10px 0 10px;
    }

    div.cats h1 {
        padding: 0 10px 0 10px;
    }

    ul.cat-facts li {
        padding: 40px 10px 0 10px;
    }
}