#map {
    display: block;
    margin: 40px auto;
    height: 80%;
    width: 80%;
}
#map p{
    /*display: block;*/
    padding-top: 30%;
    text-align: center;
    font-size: 30px;
    /*background-color:blue;*/
}

@media screen and (max-width: 900px) {
    #map {
        display: block;
        margin: 40px auto;
        height: 80%;
        width: 95%;
    }
}