.content h1, h2, a{
    display: block;
    text-align: center;
    padding: 20px 15% 0 15%;
}

.content ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 0 0 0;
}

ul.content-ul li {
    display: block;
    text-align: center;
    padding: 40px 15% 10px 15%;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    transition: transform .2s;
    font-size: 30px;
}

li a{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 900px) {
    ul.content-ul li:hover {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 900px) {

    div.content h1,h2, a {
        padding: 10px 10px 0 10px;
    }
}