body, html {
    margin: 0;
    padding: 0 0 50px 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
}

/*Footer*/
.content-wrap {
    min-height: calc(100% - 50px);
}

.footer {
    background-color: rgba(76, 76, 76, 0.30);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
}

/*Footer*/
/*Navigation menu*/
ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;

}

ul.top-nav li a:hover:not(.active) {
    background-color: #000000;
}

ul.top-nav li a.active {
    background-color: #00aa15;
}

ul.top-nav li.right {
    float: right;
}

.right {
    float: right;
}

/*Navigation menu*/

/*Responsiveness*/
@media screen and (max-width: 900px) {
    ul.top-nav li.right,
    ul.top-nav li {
        float: none;
    }

    div.cats h1 {
        padding: 0 10px 0 10px;
    }

    ul.cat-facts li {
        padding: 40px 10px 0 10px;
    }
}

/*Responsiveness*/