body, html{
    margin: 0;
    padding: 0 0 50px 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    min-height:100%;
    position:relative;
    font-family: 'Lato', sans-serif;
}

/*Navigation menu*/
ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;
}

ul.top-nav li {float: left;}

ul.top-nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;

}

ul.top-nav li a:hover:not(.active) {background-color: #000000;}

ul.top-nav li a.active {background-color: #00aa15;}

ul.top-nav li.right {float: right;}

.right{
    float: right;
}
/*Navigation menu*/


#map {
    display: block;
    margin: 40px auto;
    height: 80%;
    width: 80%;
}





.content h1,a{
    display: block;
    text-align: center;
    padding: 40px 15% 0 15%;

}

.cats h1{
    display: block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 0 15% 0 15%;
}

ul.cat-facts {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0 0 0;
}

ul.cat-facts li{
    display: block;
    text-align: center;
    padding: 40px 15% 10px 15%;
    text-decoration: none;
    /*font-family: 'Amatic SC', cursive;*/
    transition: transform .2s;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(76,76,76,0.30);
    text-align: center;
    font-size: 15px;
    height: 50px;
}

@media screen and (min-width: 900px){
    ul.cat-facts li:hover{
        transform: scale(1.3);
    }
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    ul.top-nav li.right,
    ul.top-nav li {float: none;}

    div.content h1,a{
        padding: 40px 10px 0 10px;
    }
    div.cats h1{
        padding: 0 10px 0 10px;
    }
    ul.cat-facts li{
        padding: 40px 10px 0 10px;
    }
    #map {
        display: block;
        margin: 40px auto;
        height: 80%;
        width: 95%;
    }
}
/*Responsiveness*/